<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout(~{::section}, #{page.title})}"> <!-- ★ 変更：'トップページ' → #{page.title} -->

<section>
    <h2>トップページ</h2>
    <p>ここにメインコンテンツを配置します。</p>
    <!-- 未ログイン時：SSO ログインボタン -->
    <div sec:authorize="isAnonymous()">
        <a class="btn btn-success"
           th:href="@{/oauth2/authorization/google}">
            Google でログイン
        </a>
    </div>

    <!-- ログイン済み：ユーザ情報＋ログアウト -->
    <div sec:authorize="isAuthenticated()">
        <h3>ログインユーザ情報</h3>

        <table class="table table-bordered">
            <tbody>
            <tr th:each="entry : ${googleUser?.entrySet()}">
                <th th:text="${entry.key}">key</th>
                <td th:text="${entry.value}">value</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" th:href="@{/logout}">ログアウト</a>
    </div>


</section>

</html>